<div *ngIf="loading" class="text-center">
    <div class="spinner-grow mt-5 text-warning" style="width: 10rem; height: 10rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div *ngIf="!loading" class="wrapper">
    <h2 class="text-center"><strong>{{title}}<span>({{favourites.length}})</span></strong></h2>
    <hr>
    <div class="cards">
        <figure *ngFor="let favourite of favourites" class="card">
            <img src="{{imageUrl + favourite.poster_path}}" />
            <figcaption class="text-center">
                <span class="badge badge-info">{{favourite.vote_average}}</span>
                <button class="btn btn-danger ml-2" (click)="deleteFav(favourite.id)"><i
                        class="fas fa-trash-alt"></i></button>
                <button class="btn btn-success ml-2" (click)="showFav(favourite.id)"><i
                        class="fas fa-info-circle"></i></button>
            </figcaption>
        </figure>
    </div>
</div>