<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" [routerLink]="['/home']">
        <i class="fas fa-film"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" tabindex="-1"
                    aria-disabled="true">Home</a>
            </li>
        </ul>
    </div>
    <div>
        <a class="nav-link dropdown-toggle text-white" id="navbarDropdown2" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" v-pre>
            {{nameUser}}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown2">
            <a *ngIf="token == null" class="dropdown-item pointer" (click)="getToken()">Autorizar cuenta</a>
            <a *ngIf="token != null && session_id == null" class="dropdown-item pointer" (click)="newSession()">Iniciar
                sesión</a>
            <a class="dropdown-item pointer" (click)="toFavourites()">Mis favoritos</a>
            <a class="dropdown-item pointer" (click)="logout()">Cerrar sesión</a>
        </div>
    </div>
</nav>