<div class="container">
    <div class="m-3">
        <h1 class="text-center">{{ title }}</h1>
    </div>
    <hr>
    <div *ngIf="loading" class="text-center">
        <div class="spinner-grow mt-5 text-warning" style="width: 10rem; height: 10rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div *ngIf="!loading">
        <div class="card-columns" *ngIf="movies.length > 0">
            <div *ngFor="let movie of movies" class="card bg-secondary animate__animated animate__pulse">
                <img *ngIf="movie.backdrop_path !== null; else elseBlock" src="{{imageUrl + movie.backdrop_path}}"
                    class="card-img-top pointer" alt="" (click)="showDescription(movie)">
                <ng-template #elseBlock>
                    <img src="assets/images/no-img.jpg" class="card-img-top pointer" alt="">
                </ng-template>
                <div class="card-body">
                    <h5 class="card-title">{{ movie.title }}</h5>
                    <h5 class="card-title">{{ movie.name }}</h5>
                    <p class="card-text">{{ movie.overview | slice:0:125 }}...</p>
                    <div class="row text-right">
                        <div class="col">
                            <small class="text-muted">
                                <p class="colorSpan">Estreno: <cite title="Source Title">{{ movie.release_date }}</cite>
                                </p>
                            </small>
                        </div>
                        <div class="col">
                            <button class="btn btn-danger mr-2" (click)="addFavourite(movie)"><i
                                    class="fas fa-heart"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 justify-content-center">
                <ngb-pagination [collectionSize]="100" [(page)]="currentPage" aria-label="Default pagination"
                    (click)="pagination($event)"></ngb-pagination>
            </div>
        </div>
    </div>
</div>