.pointer {
  cursor: pointer;
}

/* .animate__animated.animate__bounce {
  --animate-duration: 2s;
} */

body {
  background-color: #2B3E50;
  color: #EBEBEB;
}
.styleBody{
  background-color: #2B3E50;
  color: #EBEBEB;
}

nav{
  background-color: rgb(5, 14, 37);
}

.colorSpan {
  color: #EBEBEB;;
}

h1, h2, h5{
  color: orange;
}

hr{
  border-top: 1px solid orange;
}