<div *ngIf="!loading" class="container">
    <div class="row mt-3">
        <div class="col-5">
            <img *ngIf="movie.poster_path !== null; else elseBlock" src="{{imageUrl + movie.poster_path}}"
                class="img-thumbnail rounded" alt="">
            <ng-template #elseBlock>
                <img src="assets/images/no-img.jpg" class="card-img-top" alt="">
            </ng-template>
        </div>
        <div class="col-7">
            <div class="row">
                <div class="col-9">
                    <h2>{{movie.title}}</h2>
                </div>
                <div class="col-3 float-right">
                    <h1><span class="badge badge-pill badge-success">{{movie.vote_average}}</span></h1>
                </div>
            </div>
            <hr>
            <p>{{movie.overview}}</p>
            <div class="row">
                <div class="col">
                    <p class="text-center">{{movie.vote_count}} Ratings</p>
                </div>
                <div class="col text-right">
                    <button class="btn btn-danger mr-2" (click)="addFavourite()"><i class="fas fa-heart"></i></button>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>